
---
swagger: "2.0"
info:
  description: "微商城API描述文档"
  version: "1.0.0"
  title: "微商城API描述文档"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "gaoliqi@weizoom.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.weizoom.com"
basePath: "/"
tags:
- name: "mall"
  description: "微商城相关"
  externalDocs:
    description: "详细描述文档"
    url: "http://git.weizzz.com:8082/weapp/apiserver"
schemes:
- "http"
paths:
  /mall/coupon/:
    get:
      tags:
      - "mall"
      summary: "优惠券接口"
      description: "下订单时填写优惠码"
      produces:
      - "application/json"
      parameters:
      - name: "woid"
        in: "query"
        description: "Weapp Owner ID"
        required: true
        type: "string"
      - name: "coupon_id"
        in: "query"
        description: "Coupon ID"
        required: true
        type: "string"
      - name: "order_price"
        in: "query"
        description: "订单价格"
        required: true
        type: "number"
        format: "float"
      - name: "product2info"
        in: "query"
        description: "商品信息(JSON)"
        required: true
        type: "string"
      responses:
        200:
          description: "如果可以使用优惠券"
          schema:
            $ref: "#/definitions/CouponInfo"
          examples:
            application/json: {
              "is_success": true,
              "id": 1,
              "money": 100.00,
              "productid": 101
            }
        401:
          description: "invalid coupon"
          schema:
            $ref: "#/definitions/InvalidCouponInfo"
          examples:
            application/json: {
              "is_success": false,
              "msg": "失败原因"
            }

  /mall/coupons/:
    get:
      tags:
      - "mall"
      summary: "编辑订单页显示优惠券列表"
      description: "编辑订单页显示优惠券列表"
      operationId: "/mall/coupons/"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "woid"
        in: "query"
        description: "Weapp Owner ID"
        required: true
        type: "string"
      responses:
        200:
          description: "data response"
          schema:
            #$ref: "#/definitions/Coupons"
            title: coupon response
            type: "object"
            properties:
              unused_coupons:
                type: "number"
              used_coupons:
                type: "number"
              expired_coupons:
                type: "number"            
          examples:
            application/json: {
              "unused_coupons": 99,
              "used_coupons": 1,
              "expired_coupons": 1
            }
  
  /mall/express_details/:
    get:
      tags:
      - "mall"
      summary: "物流详情"
      description: "物流详情"
      operationId: "/mall/express_details/"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "woid"
        in: "query"
        description: "Weapp Owner ID"
        required: true
        type: "string"
      - name: "order_id"
        in: "query"
        description: "订单ID"
        required: true
        type: "string"
      responses:
        200:
          description: "data response"
          schema:
            $ref: "#/definitions/ExpressDetails"
          examples:
            application/json:  {
                "code": 200,
                "data": {
                  "express_details": [
                    {
                      "status": "2",
                      "express_id": 13241234,
                      "created_at": "2015-12-22 17:04:54",
                      "display_index": 2,
                      "ftime": "2015-12-22",
                      "context": "哈哈1",
                      "time": "2015-12-22 17:04:39",
                      "id": 2
                    },
                    {
                      "status": "1",
                      "express_id": 147258368,
                      "created_at": "2015-12-22 16:22:39",
                      "display_index": 1,
                      "ftime": "2015-12-22",
                      "context": "嘻嘻2",
                      "time": "2015-12-22 16:22:15",
                      "id": 1
                    }
                  ]
                },
                "errMsg": "",
                "innerErrMsg": ""
              }
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/Error"

  /mall/product_search_records:
    get:
      description: "获得最近10条查询记录"
      parameters:
      responses:
        200:
          description: "data response"
          schema:
            title: "object"
            properties:
              records:
                type: "list"
          examples:
            application/json:  {
                "code": 200,
               "data": {
                  "records": [
                    "dssdg1111",
                    "asda",
                    "发送方式",
                    "asda",
                    "干"
                  ]
                },
                "errMsg": "",
                "innerErrMsg": ""
              }

    delete:
      summary: "删除搜索记录"
      description: "删除搜索记录"
      responses:
        200:
          description: OK

  /wzcard/binding_cards/:
    get:
      summary: "微众卡列表"
      description: 'unused'-未使用，'used'-已被使用，'empty'-已用完，'inactive'-未激活，'expired'-已过期
      parameters:
      responses:
        200:
          schema:
            properties:
              code:
                required: true
                type: number （200， 500）
              data:
                properties:
                  usable_cards:
                     required: true
                     type: "array"
                  unusable_cards:
                     required: true
                     type: "array"
          examples:
            {
              "data": {
                "unusable_cards": [],
                "usable_cards": [
                  {
                    "bound_at": "2016-06-30 15:02:46",
                    "status": "可用",
                    "status_text": null,
                    "card_password": "1234567",
                    "source": 3,
                    "valid_time_from": "2016-06-16 00:00:00",
                    "balance": "10.00",
                    "face_value": "10.00",
                    "card_number": "101000001",
                    "valid_time_to": "2026-06-16 00:00:00"
                  },
                  {
                    "bound_at": "2016-06-30 15:02:46",
                    "status": "可用",
                    "status_text": null,
                    "card_password": "1234567",
                    "source": 3,
                    "valid_time_from": "2016-06-16 00:00:00",
                    "balance": "10.00",
                    "face_value": "10.00",
                    "card_number": "101000002",
                    "valid_time_to": "2026-06-16 00:00:00"
                  }
                ]
              },
              "code": 200,
              "innerErrMsg": "",
              "errMsg": ""
            }

  /mall/order_list:
    get:
      summary: "订单列表"
      parameters:
      - name: order_type
        required: true
        description:
                    """
      全部： -1
      ORDER_STATUS_NOT = 0  # 待支付
      ORDER_STATUS_CANCEL = 1  # 已取消
      ORDER_STATUS_PAYED_SUCCESSED = 2  # 已支付
      ORDER_STATUS_PAYED_NOT_SHIP = 3  # 待发货
      ORDER_STATUS_PAYED_SHIPED = 4  # 已发货
      ORDER_STATUS_SUCCESSED = 5  # 已完成
      ORDER_STATUS_REFUNDING = 6  # 退款中
      ORDER_STATUS_REFUNDED = 7  # 退款完成
      ORDER_STATUS_GROUP_REFUNDING = 8 #团购退款（没有退款完成按钮）
      ORDER_STATUS_GROUP_REFUNDED = 9 #团购退款完成
            """
      - name: count_per_page
        required: false
      - nmae: cur_page
        required: true

      responses:
        '200':
            schema:
            #$ref: "#/definitions/Coupons"
            title: coupon response
            type: "object"
            properties:
              orders:
              order_config:
              page_info:


definitions:

  CouponInfo:
    type: "object"
    properties:
      is_success:
        type: "boolean"
        format: "boolean"
      id:
        type: "number"
        format: "int64"
        description: "优惠券ID"
      money:
        type: "number"
        format: "float"
        description: "优惠券金额"
      productid:
        type: "number"
        format: "int64"
        description: "受限的Product ID"

  InvalidCouponInfo:
    type: "object"
    properties:
      is_success:
        type: "boolean"
      msg:
        type: "string"

  ExpressDetails:
    type: "object"
    properties:
      order_id:
        type: "string"
      status:
        type: "string"
      express_company_name:
        type: "string"
      express_number:
        type: "string"
      express_details:
        type: "array"
        items:
          $ref: "#/definitions/ExpressDetail"

  ExpressDetail:
    properties:
      ftime:
        type: "string"
        format: "date"
      express_id:
        type: "number"
      display_index:
        type: "number"
      context:
        type: "string"
      created_at:
        type: "string"
        format: "dateTime"
      time:
        type: "string"
        format: "dateTime"
      id:
        type: "number"
        format: "int32"
      status:
        type: "string"

  Error:
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"





externalDocs:
  description: "Python-base API描述文档"
  url: "http://git.weizzz.com:8082/weapp/apiserver"

## Example YAML to get you started quickly.
## Be aware that YAML has indentation based scoping.
## Code completion support is available so start typing for available options.
#swagger: '2.0'
#
## This is your document metadata
#info:
#  version: "0.0.1"
#  title: apiserver接口文档
#
#host: 127.0.0.1:8001
#
## Describe your paths here
#paths:
#  # This is a path endpoint. Change it.
#  /mall/purchasing/:
#    # This is a HTTP operation
#    get:
#      # Describe this verb here. Note: you can use markdown
#      description: |
#        获取编辑订单页接口
#      # This is array of GET operation parameters:
#      parameters:
#        # An example parameter that is in query and is required
#        - $ref: '#/definitions/group_id'
#        - $ref: '#/definitions/activity_id'
#        - name: product_ids
#        - name: product_counts
#        - name: product_model_names
#      # Expected responses for this operation:
#      responses:
#        # Response code
#        200:
#          description: Successful response
#          # A schema describing your response object.
#          # Use JSON Schema format
#          schema:
#            title: purchasing response
#            type: object
#            properties:
#              group_id:
#                type: string
#  /mall/order/:
#    put:
#      description: 创建订单接口
#      parameters:
#        - $ref: '#/definitions/group_id'
#        - $ref: '#/definitions/activity_id'
#      responses:
#        200:
#          description: Successful response
#  /pay/pay_result:
#    get:
#      description: 支付结果页接口
#      parameters:
#        - name: qrcode_img
#          description: 二维码图片url
#        - name: activity_url
#          description: 团购活动链接
#        - name: order
#          type: object
#          properties:
#            is_group_buy:
#              type: bool
#              required: true
#definitions:
#  group_id:
#    name: group_id
#    description: 团id，来字团购活动页点击参团跳转到编辑订单页提供
#    type: string
#  activity_id:
#    name: activity_id
#    description: 团购活动id
#  activity_url:
#    name: activity_url
#    description: 团购活动url
#    type: string

